.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.image-container {
  width: 25%;
  text-align: center;
  padding: 10px;
}

.image-container img {
  width: 100%;
}